<p style="color: green"><%= notice %></p>

<div class="container">
<h1>Cars</h1>


  <div class="cards">
    <% @cars.each do |car| %>
      <div class="card-category car-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= car.images_url %>)">
        <div>
          <%= car.brand %>
          <%= car.model %>
        </div>
        <div>
          <%= link_to "Show this car", car, class: "a-link" %>
          <i class="fa-solid fa-eye"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
